<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<div class="jumbotron">
  <h1 class="display-4">Mostrando cliente</h1>
  <p class="lead">Detalhes sobre o cliente cadastrado</p>
</div>

<div class="content">
  <p>
    <strong>Nome</strong>
    <%= @customer.name %>
  </p>
  <p>
    <strong>Email</strong>
    <%= @customer.email %>
  </p>
  <p>
    <strong>Telefone</strong>
    <%= @customer.phone %>
  </p>

  <%= link_to 'Back', :back, :class => "btn btn-primary btn-lg" %>
</div>
